<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos Materias</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>

<body>
    <div class="container">
        <% const existeMensaje = typeof mensaje !== "undefined"%>
        <% if (existeMensaje) {%>
            <div class="alert alert-primary" role="alert">
            <span class="font-weight-bold">
                MENSAJE
            </span> : <%= mensaje %>
            </div>
        <% }%>

        <h1>Eventos Por Materia</h1>
        <p>Puede buscar los diferentes eventos por sus Id.</p>
        <form method="get" action="/evento-materia/eventos-materias">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="busqueda">Busqueda</label>
                        <input id="busqueda" type="text" name="busqueda" class="form-control">
                    </div>

                </div>
                <div class="col-sm-3">
                    <button class=" btn btn-outline-success btn-block" style="margin-top: 31px;">
                        Buscar
                    </button>
                </div>
            </div>
        </form>
        <h2>Lista de Eventos por Materia</h2>
        <p>Listado de los distintos eventos por materia</p>
        <table class="table-hover table animated">
            <thead>
                <tr>
                    <th>Evento Id</th>
                    <th>Materia Id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% arregloEventosMaterias.forEach( (eventoMateria)=>{%>
                <tr>
                    <td><%= eventoMateria.eventoIdFK%></td>
                    <td><%= eventoMateria.materiaIdFK%></td>
                    <td><button class="btn-block btn btn-outline-info"
                                style="margin-top: 10px; margin-bottom: 10px">
                            Ver
                        </button>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>