<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
    </style>
    <title>Gestion de Eventos</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body>
    <div class="container">
        <% const existeMensaje = typeof mensaje !== "undefined"%>
        <% if (existeMensaje) {%>
            <div class="alert alert-primary" role="alert">
            <span class="font-weight-bold">
                MENSAJE
            </span> : <%= mensaje %>
            </div>
        <% }%>

        <h1>Gestion de Eventos</h1>
        <p>Busque, cree actualice y elimine eventos. Puede buscar eventos por nombreE.</p>

        <form method="get" action="/evento/eventos">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="busqueda">Busqueda</label>
                        <input id="busqueda" type="text" name="busqueda" class="form-control">
                    </div>

                </div>
                <div class="col-sm-3">
                    <button class=" btn btn-outline-success btn-block" style="margin-top: 31px;">
                        Buscar
                    </button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-9">

            </div>
            <div class="col-sm-3">
                <a href="/evento/crear-evento" style="text-decoration: none">
                    <button class=" btn btn-outline-success btn-block">
                        Crear evento
                    </button>
                </a>
            </div>
        </div>

        <h2>Lista de Eventos</h2>
        <p>Listado de los eventos, actualice o elimine eventos</p>
        <table class="table table-hover animated">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Evento</th>
                    <th>Fecha</th>
                    <th>Ubicacion</th>
                </tr>
            </thead>
            <tbody>
            <% arregloEventos.forEach( (evento)=> {%>
                <tr>
                    <td><%= evento.eventoId%></td>
                    <td><%= evento.nombreEvento%></td>
                    <td><%= evento.fechaEvento%></td>
                    <td>
                        <button class="btn-block btn btn-outline-info"
                                style="margin-top: 10px; margin-bottom: 10px">
                            Ver
                        </button>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <div id="map"></div>

        <script>
          function initMap() {
            var epn = {lat: -0.210334, lng: -78.487999};
            var map = new google.maps.Map(
              document.getElementById('map'), {zoom: 4, center: epn});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: epn, map: map});
          }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxnTF_SlMitUfJJb_P6P8ltuLDBZShlIM&callback=initMap">
        </script>
    </div>

</body>
</html>