<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body>
    <div class="container">
        <h1>Examen Web</h1>

        <div>
            <a href="/materia/materias">
                <button>Materias</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/estudiante/estudiantes">
                <button>Estudiantes</button>
            </a>
        </div>
        <div>
            <a href="/evento/eventos">
                <button>Eventos</button>
            </a>
        </div>



    </div>
</body>
</html>