<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body>
    <div class="container">
        <h1>Eventos</h1>
        <form action="/evento/eventos" method="get">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="busqueda">Busqueda de eventos</label>
                        <input id="busqueda"
                               type="text"
                               class="form-control"
                               name="busqueda">
                    </div>

                </div>
                <div class="col-sm-3">
                    <button class=" btn btn-outline-success btn-block" style="margin-top: 31px;">
                        Buscar
                    </button>

                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                <table class="table table-hover animated fadeInUp">
                    <caption>Lista de eventos</caption>
                    <!-- tr -> table row -->
                    <thead>
                    <tr>
                        <!-- th -> table header -->
                        <th width="30%">Nombre</th>
                        <th width="50%">Fecha</th>
                        <th width="20%">Acciones</th>

                    </tr>
                    </thead>
                    <!-- tr -> table row -->
                    <tbody>
                    <% arregloEventos.forEach((evento)=>{ %>
                        <tr>
                            <!-- td -> table detail -->
                            <td><%= evento.nombre %></td>
                            <td><%= evento.fecha %></td>
                            <td><a href="/evento/ver/<%= evento.eventoId %>">
                                    <button class="btn btn-info btn-block btn-b"
                                            type="submit">Ver
                                    </button>
                                </a>
                            </td>

                        </tr>
                    <% }) %>
                    </tbody>
                </table>

            </div>
            <div class="col-md-2"></div>


    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>